.cardSpace {
  position: relative;
  min-height: 100vh;
  padding: 32px;
  background-color: #f8fafc;

  // 网格背景
  background-image: linear-gradient(rgba(0, 0, 0, 3%) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 3%) 1px, transparent 1px);
  background-size: 20px 20px;
  cursor: default;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}
